body {
    background-image: linear-gradient(rgba(33, 16, 79, 0.56), rgba(33, 16, 79, 0.56)), url("images/290712423_2945124302298356_6249571837882866238_n.jpg");
    background-size: 100%;
    font-family: "Roboto",sans-serif;
}
h1,p {
    margin: 20px auto;
    text-align: center;
    color: white;
}
#title {
    margin-top: 50px;
    font-size:35px;
    margin-bottom: -15px;
}
#description {
    font-style: italic;
    font-size:20px;
    margin-bottom: 40px;
}

form {
    max-width: 520px;
    min-width: 150px;
    background-color: rgba(42, 42, 72, 0.89);
    /*width: 50%;*/
    margin: 20px auto;
    padding: 20px 30px 0px 30px;
}
#title {
    color: #ffffff;
}
label {
    font-size:18px;
    display: block;
    color:white;
    margin: 20px 0;
}
.full-width {
    width: 100%;
}

.higher-rounder {
    border: none;
    margin-top:10px;
    border-radius: 7px;
    padding:10px;
    font-size: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#submit {
    width: 100%;
    color: #000000;
    background-color: #37ae65;
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 15px;
    margin-top: 15px; margin-bottom: 50px;
}

fieldset {
    border:none;
}

textarea {
    font-family: sans-serif;
}
